.gallery {
    padding-top: 35px;
    display: flex;
    justify-content: center;

    .gallery-container{
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
        .gallery-cols{
            flex: 24%;
            max-width: 24%;
            margin: 0 5px;

            @media screen and (max-width: 800px) {
                flex: 46%;
                max-width: 46%;
            }
            @media screen and (max-width: 600px) {
                flex: 46%;
                max-width: 46%;
            }

            .image-container {
                margin-top: 25px;
                text-align: left;
                cursor: pointer;

                .label-title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
            }
        }
    }
}